#navbar{
    background-color: $pink;
}
#navbar a{
    color: white;
    font-size: 1.3em;
}
#navbar-brand-btn{
    font-family: header-font !important;
    font-size: 2em !important;
}
#navbar button{
    border: none;
}
#navbar button i{
    color: white;
    font-size: 2em;
}
