.post-header-links{
    color:$pink;
}
.post-header-links:hover{
    color:$brown;
    text-decoration: none;
}
#post-container{
    padding: 2.5vw 10vw !important;
    @media only screen and (max-width:1199px) {
        padding: 5vw 10vw !important;
    }
}
#post-container h1{
    font-family: bold-font;
}
#post-content{
    text-align: justify;
    font-family: base-font;
    font-size: 1.4em;
    margin-top: 4vh;
    white-space: pre-wrap;
}
.post-tags-link{
    color:$pink;
    background-color: rgba(0,0,0,0.12);
    padding: 0.5em 1em;
}
.post-tags-link:hover{
    color:$pink;
    text-decoration: none;
}
#post-container h5{
    font-family: bold-font;
    color: $pink;
}
.post-image{
    display: block;
    text-align: center;
}
#category_title{
    color: $pink;
    display: block;
    margin-top: 2vw;
    margin-bottom: 0;
}
.go-to-top{
    display: none;
    position: fixed;
    background-color: $pink;
    padding: 1vw 1.3vw;
    border-radius: 2em;
    color: white;
    top:80vh;
    right:4vw;
    @media only screen and (max-width:1199px) {
        display: none;
        padding: 4vw 4.5vw;
        border-radius: 2em;
        color: white;
        top:85vh;
        right:4vw;
    }
}
.go-to-top:hover{
    background-color: $pink;
    color: white;
}