.post-header-links{
    color:$pink;
}
.post-header-links:hover{
    color:$brown;
    text-decoration: none;
}
#post-container{
    padding: 2.5vw 10vw !important;
    @media only screen and (max-width:1199px) {
        padding: 5vw 10vw !important;
    }
}
#post-container h1{
    font-family: bold-font;
}
#post-content{
    text-align: justify;
    font-family: base-font;
    font-size: 1.4em;
    margin-top: 4vh;
    white-space: pre-wrap;
}
.post-tags-link{
    color:$pink;
    background-color: rgba(0,0,0,0.12);
    padding: 0.5em 1em;
}
.post-tags-link:hover{
    color:$pink;
    text-decoration: none;
}
#post-container h5{
    font-family: bold-font;
    color: $pink;
}