@font-face {
  font-family: base-font;
  src: url(../fonts/Roboto-Regular.ttf); }
@font-face {
  font-family: bold-font;
  src: url(../fonts/Roboto-Bold.ttf); }
@font-face {
  font-family: medium-font;
  src: url(../fonts/Roboto-Medium.ttf); }
@font-face {
  font-family: header-font;
  src: url(../fonts/Orbitron-Bold.ttf); }
* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: base-font; }

#navbar {
  background-color: #f55c47;
  position: sticky;
  top: 0;
  z-index: 500;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2); }

#navbar a {
  color: white;
  font-size: 1.2em; }

#navbar-brand-btn {
  font-family: header-font !important;
  font-size: 2em !important; }

#navbar button {
  border: none; }

#navbar button i {
  color: white;
  font-size: 2em; }

#dropdown-menu a {
  color: grey;
  font-size: 1em; }

#search-result {
  right: 0vw; }

#search-result a {
  color: rgba(0, 0, 0, 0.7); }

.read-more-btn {
  background-color: #f55c47;
  border-color: #f55c47; }

.read-more-btn:hover {
  background-color: #564a4a;
  border-color: #564a4a; }

.read-more-btn:focus {
  background-color: #564a4a;
  border-color: #564a4a; }

#pagination-container {
  padding: 0 10vw; }

#pagination-container .row {
  margin-top: 3vh;
  margin-bottom: 2.8vh; }

@media only screen and (max-width: 1199px) {
  .card {
    width: 80vw !important;
    margin-bottom: 6vh; } }

.card h5 {
  font-family: bold-font; }

.page-item a:not(.disabled) {
  color: #f55c47; }

#category_title {
  color: #f55c47;
  display: block;
  margin-top: 2vw;
  margin-bottom: 0; }

.post-header-links {
  color: #f55c47; }

.post-header-links:hover {
  color: #564a4a;
  text-decoration: none; }

#post-container {
  padding: 2.5vw 10vw !important; }
  @media only screen and (max-width: 1199px) {
    #post-container {
      padding: 5vw 10vw !important; } }

#post-container h1 {
  font-family: bold-font; }

#post-content {
  text-align: justify;
  font-family: base-font;
  font-size: 1.4em;
  margin-top: 4vh;
  white-space: pre-wrap; }

.post-tags-link {
  color: #f55c47;
  background-color: rgba(0, 0, 0, 0.12);
  padding: 0.5em 1em; }

.post-tags-link:hover {
  color: #f55c47;
  text-decoration: none; }

#post-container h5 {
  font-family: bold-font;
  color: #f55c47; }

.post-image {
  display: block;
  text-align: center; }

#category_title {
  color: #f55c47;
  display: block;
  margin-top: 2vw;
  margin-bottom: 0; }

.go-to-top {
  display: none;
  position: fixed;
  background-color: #f55c47;
  padding: 1vw 1.3vw;
  border-radius: 2em;
  color: white;
  top: 80vh;
  right: 4vw; }
  @media only screen and (max-width: 1199px) {
    .go-to-top {
      display: none;
      padding: 4vw 4.5vw;
      border-radius: 2em;
      color: white;
      top: 85vh;
      right: 4vw; } }

.go-to-top:hover {
  background-color: #f55c47;
  color: white; }

#contact-form {
  padding: 5vh 10vw; }

#message-btn {
  background-color: #f55c47;
  border-color: #f55c47;
  float: right; }
  @media only screen and (max-width: 1199px) {
    #message-btn {
      float: none; } }

#message-btn:hover {
  background-color: white;
  border-color: #f55c47;
  float: right;
  color: #f55c47;
  font-family: bold-font; }
  @media only screen and (max-width: 1199px) {
    #message-btn:hover {
      float: none; } }

#save-contact-container {
  padding-left: 20vw;
  padding-right: 20vw; }

.save-contact-row {
  margin-top: 10vh;
  border: 0.3em solid #f55c47;
  padding: 5vh 3vw;
  text-align: justify; }
  @media only screen and (max-width: 1199px) {
    .save-contact-row {
      padding: 5vh 10vw; } }

.save-contact-row h1 {
  color: #f55c47;
  font-family: medium-font; }

.save-contact-row p {
  font-size: 1.2em; }

.save-contact-btn {
  color: white;
  background-color: #f55c47;
  padding: 0.6vw 1.6vw;
  border-radius: 5px;
  font-size: 1.1em; }

.save-contact-btn:hover {
  color: #f55c47;
  background-color: white;
  text-decoration: none;
  border: 3px solid #f55c47;
  font-family: medium-font; }

#admin-container {
  border: 5px solid #f55c47; }

#admin-img {
  width: 10%; }

#admin-page-container {
  padding: 5vw 8vw; }

#admin-bio {
  white-space: pre-wrap;
  text-align: justify; }

/*# sourceMappingURL=main.css.map */
